* {
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
}

.title{
    width: 50%;
    margin-top: 80px;
    text-align: center;
}

body h2 {
    text-align: center;
    margin-bottom: 70px;
}

.container {
    max-width: 50%;
    padding: 20px;
    height: auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="number"],
select {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.cou {
    width: 95%;
}

form {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: space-around;
    gap: 20px;
    /* position: relative; */
}

.btn {
    background: rgb(124, 255, 124);
    padding: 2px;
    border: none;
    border-radius: 5px;
    color: rgb(63, 63, 63);
    font-weight: bolder;
    text-transform: uppercase;
    font-weight: bolder;
    width: 50%;
}

.btn:hover {
    background: rgb(56, 117, 56);
    color: #e3e3e3;
}

.modal {
    width: 600px;
    height: 400px;
    background: white;
    border-radius: 12px;
    position: absolute;
    top: 120px;
    left: 390px;
    /* border: 1px solid rgb(68, 68, 68); */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.overlay {
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
}

.hidden {
    display: none;
}

.terms-condition {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    gap: 10px;
}