@media screen and (max-width: 600px) {
  body {
    position: relative;
  }

  /* container */
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 0px;
    align-items: center;
    height: auto;
  }

  /* navbar */
  .nav {
    display: none;
  }
  .navbar {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row-reverse;
    gap: 0px;
    height: 50px;
    position: fixed;
  }
  .icon-menu {
    font-size: 1rem;
  }
  .logo {
    font-size: 0.5rem;
  }

  /* dropdown */
  .dropdown {
    display: flex;
    justify-content: space-around;
    width: auto;
  }

  .dropdown:hover .dropdown-content {
    display: block;
    color: #130f35;
  }
  .dropdown-content {
    left: 1.3rem;
    top: 3.4rem;
    text-transform: uppercase;
    font-size: small;
    width: 90%;
  }

  .dropdown-donate {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0%;
  }

  /* images */
  .mySlides {
    width: 10vw;
    width: fit-content;
  }

  /* //////////////////////////////////////////////////////////////////////////////// */
  /* sectio 0 */
  .section-0 {
    margin-top: 50px;
    height: auto;
  }

  /* section 1 */
  .section-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0%;
    height: auto;
  }

  .section-1-container {
    flex-direction: column;
    height: 80%;
    padding: 3rem 1.5rem;
    justify-content: space-around;
    align-items: start;
    gap: 2rem;
    border-left: 2px solid #fcb852;
    margin: 2rem 0rem;
  }

  .section-1-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    gap: 0.5rem;
  }

  .header {
    font-size: large;
    font-weight: 400;
  }

  .details-head {
    font-size: 1rem;
    width: 90%;
  }

  .details {
    width: 100%;
  }

  .section-1-img {
    width: 60vw;
    height: auto;
    border-radius: 6px;
  }

  .block {
    flex-direction: column;
  }

  .block-4 {
    text-align: end;
  }

  .block-4 h2 {
    text-align: end;
  }

  .section-1-details-2,
  .section-1-details-4 h2 {
    align-items: end;
  }

  .section-1-details-4 {
    align-items: end;
  }

  /* section 2 */

  .section-2 {
    width: 95%;
  }

  .section-2-container {
    margin: 0%;
    margin-top: 4rem;
    gap: 2rem;
    padding: 3rem 1.5rem;
  }

  .member {
    flex-direction: column;
    gap: 0px;
  }

  .section-1-container hr {
    display: block;
    width: 100%;
  }

  .section-2-container hr{
    display: block;
    width: 100%;
  }

  .pres-deatails {
    width: 90%;
  }

  .pres img {
    width: 60vw;
  }

  /* footer */

  footer{
    font-size: small;
  }

  footer article{
    gap: 1rem;
  }

  .footer-header{
    width: 80%;
  }
}