@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0%;
  padding: 0%;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: rgb(241, 241, 241);
}
body::-webkit-scrollbar {
  display: none;
}

.container {
  width: 100%;
  position: relative;
  background: rgb(241, 241, 241);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.navbar {
  position: fixed;
  width: 95%;
  padding: 0px 30px;
  border-radius: 12px;
  height: 70px;
  background: rgba(255, 255, 255,0.7);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  z-index: 10;
  transition: top 0.3s ease;
  animation: slideIn 1s forwards;
}

.nav {
  display: flex;
  width: 60%;
  justify-content: space-around;
  align-items: center;
}
.nav a {
  text-decoration: none;
  font-weight: bolder;
  color: #3e3e3e;
  font-size: large;
}

a {
  position: relative;
  text-decoration: none;
  color: #333;
  font-size: 24px;
  transition: color 0.3s ease;
}

a::before,
a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #3e3e3e;
  transition: width 0.3s ease;
}

a::before {
  left: 50%;
  transform: translateX(-50%);
}

a::after {
  right: 50%;
  transform: translateX(50%);
}

a:hover {
  color: #666;
}

a:hover::before,
a:hover::after {
  width: 100%;
}

a:active {
  color: rgb(83, 185, 14);
}

/* dropdown */
.dropdown {
  float: left;
  overflow: hidden;
  display: none;
}

.dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 4px;
}

.dropdown-content a {
  float: none;
  color: #3e3e3e;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: small;
}

.dropdown-content a:active {
  color: rgb(83, 185, 14);
}

.dropdown-content a:hover {
  background-color: #ffffff;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn {
  color: #221b5f;
  font-weight: bold;
}



.donate {
  display: inline-block;
  padding: 10px 20px;
  background-color: #fcb852;
  color: #fff;
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  font-size: 20px;
  font-weight: 600;
  border-radius: 4px;
  transition: color 0.3s;
}

.donate::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(180, 147, 74, 0.2);
  transition: width 0.3s;
}

.donate:hover::before {
  width: 100%;
}

.donate:hover {
  color: #fcb852;
  background: white;
  border: 1.5px solid #fcb852;
}
/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* section */

section {
  height: 100vh;
  width: 100%;
  color: rgb(82, 82, 82);
  display: flex;
  justify-content: space-around;
  align-items: start;
}

/* sectio-0 */
.section-0{
  max-width:500px;
}

/* section 1 */
.section-1{
  margin-top: 7.7rem;
  background: rgb(255, 239, 145);
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-1-container{
  width: 80%;
  height: auto;
  background: rgba(255, 180, 110, 0.527);
  padding: 5rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border: 1px solid white;
}

.section-1-details{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  gap: .2rem;
}

.header{
  font-size: larger;
  font-weight:400;
}

.details-head{
  width: 50%;
  font-size: x-larger;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.details{
  width: 90%;
}

.section-1-img{
  width: 50vw;
  height: 50vh;
  border-radius: 6px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  filter: brightness(80%);
}

/* section 2 */
.section-2{
  background: #00000036;
}
.hidden {
  display: none;
}

/* /////////////////////////////////////////////////////////////////////////////////////// */

/* Animations */
@keyframes rotateImages {
  0% {
    transform: translateX(0%);
  }
  20%{
    transform: translateX(100%);
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    top: -100px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}