@media screen and (max-width: 600px) {
  /* navbar */
  .nav {
    display: none;
  }
  .navbar {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row-reverse;
    gap: 0px;
  }
  .icon-menu {
    font-size: 1rem;
  }
  .logo{
    font-size: 1rem;
  }

  /* dropdown */
  .dropdown {
    display: flex;
    justify-content: space-around;
    width: auto;
  }

  .dropdown:hover .dropdown-content {
    display: block;
    color: #130f35;
  }
  .dropdown-content {
    left: 0rem;
    text-transform: uppercase;
    font-size: small;
  }
}
